* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F3F3F3;
}

.box {
    width: 500px;
    margin: 30px 0px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    padding: 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.box p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 58px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.disabled {
    margin: 0px 0px 30px 0px;
}

.big{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
