<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = icon href = "{{ url_for('static', filename = 'img/logo_unicor.svg') }}"/>
    <title>Reporte de Fallos</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/reporte.css') }}">
</head>
<body>
    
    <div class="box">
        <form>
            <!-- <input type='text' className='form-control mb-3' name='nombre' placeholder='Nombre' disabled/> -->
            <div class="input">
                <div class = "fallo">
                    <label for="fallo">Describa el Problema que ha ocurrido:</label>
                    <input name='fallo'/>
                </div>
            </div>  
            <!-- BUTTONS -->
            <div class="botones">
                <input type="submit" class="btn btn-success mx-4 my-4" value="GENERAR REPORTE">
            </div>
        </form>
    </div>

    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>