<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = icon href = "{{ url_for('static', filename = 'img/logo_unicor.svg') }}"/>
    <title>Incio Admin</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashAdmin.css') }}">
</head>
<body>
    <div class="x">
        <div class="container">
            <div class="botones1" > 
                <a href="{{ url_for('registro_operador')}}">
                <button type="button" class="btn btn-success" id="bt1_sp"> REGISTRAR OPERADOR </button>
                </a>
        
                <a href="{{ url_for('reporte_admin')}}">
                <button type="button" class="btn btn-success" id="bt2_sp"> REPORTE DE VENTAS </button>
                </a>
                
                <a href="{{ url_for('adm_registro_estudiante')}}">
                <button type="button" class="btn btn-success"> REGISTRAR ESTUDIANTE </button>
                </a>
            </div>
            
            <div class="botones2">  
                <a href="{{ url_for('recarga_admin')}}">
                <button type="button" class="btn btn-success" id="bt1_if"> RECARGAR </button>
                </a>
                
                <a href="{{ url_for('adm_actualizar_estudiante')}}">
                <button type="button" class="btn btn-success" id="bt2_if"> ACTUALIZAR ESTUDIANTE </button>
                </a>
            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>