<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = icon href = "{{ url_for('static', filename = 'img/logo_unicor.svg') }}"/>
    <title>Recargas</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/recarga.css') }}">
</head>
<body>

    <div class="box">
        <form method="POST" >
            <div class="input">
                    <div class = "datos">
                        <label for="datos">Ingrese los datos del estudiante:</label>
                        <input type='text' name='cuenta' placeholder='N° de Documento'/>
                        <input type='text' name='nombre' placeholder='Primer nombre' />
                        <input type='text' name='apellido' placeholder='Primer apellido' />
                    </div>

                    <div class = "valor">
                        <label for="Valor">Ingrese el numero de almuerzos:</label>
                        <input type='number' name='valor' placeholder='Numero de almuerzos' />
                    </div>

                    <div class="botones">
                        <input type="submit" class="btn btn-danger mx-4 my-4" value="CANCELAR">
                        <input type="submit" class="btn btn-success mx-4 my-4" value="REGISTRAR">
                    </div>
            </div>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/89054e0e8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>