<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = icon href = "{{ url_for('static', filename = 'img/logo_unicor.svg') }}"/>
    <title>Recargas</title>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/recarga.css') }}">
</head>
<body>

    <div class="box">
        <form method="POST" >
            <div class="input1">
                <input type='text'  name='Cuenta' placeholder='N° de documento'/>
                <button type='submit' name=''>
                    <i class="fa-solid fa-magnifying-glass fa-1x"></i>
                </button>
            </div>
        </form>

        <form method="POST" >
            <!-- <input type='text' className='form-control mb-3' name='nombre' placeholder='Nombre' disabled/> -->
            <div class="input2">
                <div class = "disabled">
                    <input type='text' placeholder='N° de Docuemento' disabled />
                    <input type='text' placeholder='Nombre' disabled/>
                    <input type='text' placeholder='Apellido' disabled/>
                </div>
            </div>
        </form>

        <form>
            <!-- <input type='text' className='form-control mb-3' name='nombre' placeholder='Nombre' disabled/> -->
            <div class="input2">
                <div class = "valor">
                    <label for="Valor">Ingrese el numero de almuerzos:</label>
                    <input type='number' name='Valor' placeholder='Numero de almuerzos' />
                </div>
            </div>
            <!-- BUTTONS -->
            <div class="botones">
                <input type="submit" class="btn btn-danger mx-4 my-4" value="CANCELAR">
                <input type="submit" class="btn btn-success mx-4 my-4" value="REGISTRAR">
            </div>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/89054e0e8f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>